/* static/style.css */

/******* setup stuff ******/

/* font */

@font-face {
	font-family: "FjordOne";
	src: url("/static/FjordOne.woff");
	src: url("/static/FjordOne.otf");
}

/*
 * COLORSCHEME:
 * background: #E6E1DC
 * foreground: #2B2B2B
 * accent background: #A6C166
 * accent foreground: #2B2B2B
 * funky color: #66A6C1
 * 
 */

/******* defaults ******/

* {
	font-family: "FjordOne";
	color: #2B2B2B;
}

body {
	background-color: #E6E1DC;
}

img {
	width: 100%;
	height: auto;
}

/****** specifics styling ******/

/* margined */
.margined {
	margin-left: 20%;
	margin-right: 20%;
}

/* navigation bar */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	display: inline-block;
	background: #A6C166;
	border-radius: 20%
}

li.navbar {
	float: left;
	display: inline;
}

a.navbar {
	display: block;
	padding: 8px;	
}


/* About */
img.profile {
	display: inline-block;
	width: 20%;
	height: auto;
	float: left;
	margin-right: 8px;
}

/* metro.drone */
img.mdappicon {
	border-radius: 24%;
	display: inline-block;
	width: 10%;
	height: auto;
	float: left;
	margin-right: 8px;
}

.mdscreenshotcontainer {
	margin: 0;
	padding: 0;
	overflow-x: scroll;
	white-space: nowrap;
}

.mdscreenshots {
	float: left;
	display: inline-block;
	width: 256px;
	padding: 8px;
}

.mdscreenshotcontainer {
    overflow-x: scroll;
    white-space: nowrap;
}
.mdscreenshot {
    display: inline-block;
    width: 256px;
    white-space: normal;
}

